/*
 * Copyright (c) 2020 ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
 
#include "charybdis.dtsi"
#include <input/processors.dtsi>

&default_transform {
    col-offset = <6>;
};

&kscan0 {
	col-gpios
		= <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&gpio0 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&gpio1 0  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&gpio1 4  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		;
};

// trackball bus
&spi0 {
	status = "okay"; //okay
	sck-pin = <8>; //old
    mosi-pin = <17>; //old
    miso-pin = <17>;//old same as mosi (3-wire spi)
	cs-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;

};

&trackball {
	status = "okay"; //okay
	irq-gpios = <&gpio0 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
};


/ {
    trackball_listener: input_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;

        /* 평소 커서 속도 ↑ (예: 1.5배) */
        input-processors = <&zip_xy_scaler 3 2>;

        /* ✅ 스크롤 모드: _SCROLL 레이어가 켜졌을 때만 적용 */
        scroll_mode {
            layers = <_SCROLL>;   /* ← 여기 ‘layers’가 정식 속성명 */
            input-processors = <&zip_xy_to_scroll_mapper
                                &zip_scroll_scaler 3 2>;
        };

        /* (선택) 정밀 모드 */
        snipe_mode {
            layers = <_SNIPE>;
            input-processors = <&zip_xy_scaler 1 3>;
        };
    };
}
